
		*{
			margin: 0px;
			border: 0px;
			padding: 0px;
		}
		html{
			font-size: 62,5%;
			background-color: slategrey';
		}
		header{
			background-color: rgba(0, 0, 0, 1);
			color: #fff;
			padding: 10px;
			font-family: Arial;
			width: 100%;
			position: fixed;
			
		}
		body{
			background-color: rgba(245, 245, 245, 1.0);
		}
		footer{
			font-family: arial;
			color: #fff;
			background-color: rgba(0, 0, 0, 1);
			text-align: center;
			padding-top: 5px;
			padding-bottom:5px ;
		}
		.cards{
			border: 50px solid #fff;
			background-color: cadetblue;
			box-shadow: 2px 2px 5px #000;
			border-radius: 20px;
			padding: 30px;
			margin: 20px;
		}
		