
		*{
			margin: 0px;
			border: 0px;
			padding: 0px;
		}
		html{
			font-size: 62,5%;
			background-color: slategrey';
		}
		header{
			background-color: rgba(0, 0, 0, 1);
			color: #fff;
			padding: 10px;
			font-family: Arial;
			width: 100%;
			position: fixed;
			
		}
		body{
			background-color: rgba(245, 245, 245, 1.0);
		}
		footer{
			font-family: arial;
			color: #fff;
			background-color: rgba(0, 0, 0, 1);
			text-align: center;
			padding-top: 5px;
			padding-bottom:5px ;
		}
		p{
			font-family: arial;
			text-align: justify;
			padding: 10px;
			font-size: 1.6rem;

		}
		h1{
			font-family: arial;
			text-align: justify;
			padding-top: 10px;
			font-size: 2rem;
		}
		h2{
			font-family: arial;
			text-align: justify;
			padding-top: 10px;
			font-size: 1.9rem;
		
		}
		.texto-footer{
			text-align: center;
			font-family: arial;
			padding-top:10px ;
			font-size: 1.6rem;
			padding-bottom: 10px;
		}
		.cards{
			font-family: arial;
			text-align: center;
			padding: 10px;
			font-size: 1.6rem;
			background-color: whitesmoke;
			border: 23px;
			margin: 35%;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		}
		.mais-veiculos{
			background-color: whitesmoke;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		}	